body{
    font-family: 'Montserrat', sans-serif;
}

/*HEADER*/
.btn:focus,
.btn:active{
    outline: none !important;

}

.header-button-icon {
    background-color: #ffffff;
}
.navbar-brand{
    font-family: 'Lobster', cursive;
    font-size: 23px;
}
.navbar-brand-left {
     color: #ffffff;
 }

@media screen and (min-width: 767px) {
    .navbar-brand-left{
        display: none;
    }
}
.switch__header-text{
    color: #ffffff;
    padding: 6px 10px 6px 10px !important;
}
.switch__header-text:hover, .switch__header-text:focus{
     background-color: transparent !important;
     font-weight: bold;
     color: #ffffff;
     padding: 1px 10px 6px 10px !important;
    outline: none;
 }
.navbar_input-group{
    opacity: 0.8;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 15px;
    width: 179px;
    margin-top: 3px;

}

.navbar-brand-right{
    color: #ffffff;
    padding: 5px 0 6px 19px !important;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    top: 2%;

}
.navbar-brand-right:hover,
.navbar-brand-right:focus,
.navbar-brand-left:hover,
.navbar-brand-left:focus{
    color: #ffffff;
    outline: none;
}
@media screen and (max-width: 990px) {
    .navbar-brand-right{
        display: none;
    }
}
.nav>li>a:focus, .nav>li>a:hover {
     text-decoration: none;
     outline: none;
     background-color: transparent;
     border-top: 5px solid #54d154;
     color: #ffffff;
    font-weight: normal;
   /* padding: 1px 10px 6px 10px !important;*/
 }
@media screen and (max-width: 767px) {
    .nav>li>a{
        text-align: center;
    }
    .nav>li>a:focus, .nav>li>a:hover{
        border-bottom: 2px solid #54d154;
        border-top: none;
        outline: none;

    }
}
.form-input-search{
    margin: 2px 3px 0 0;
    box-shadow: none;
}
@media screen and (max-width: 767px) {
    .navbar_input-group{
        width: 100%;
    }
}
.header-search{
    border-radius: 15px 0 0 15px;
    border: none;
    height: 30px;
}
.header-search:hover, .header-search:active,.header-search:focus{
    text-decoration: none;
    outline: none;
}
.btn-search{
    border: none;
    border-radius: 0 15px 15px 0;
    height: 30px;
    background-color:#ffffff;
}
.btn-search:focus{
    outline: none;
}

/*The first block with image and artical*/
.switch__art{
    background: url(img/background.png) center no-repeat;
    min-height: 660px;
    background-size: cover;
    position: relative;
}
.switch__art-center-container{
    width: 100%;
    padding-top: 255px;
}
.switch__art-text{
    color: #ffffff;
    font-size: 49px;
    padding-bottom: 20px;
}
@media screen and (max-width: 780px) {
    .switch__art-text{
        font-size: 40px;
    }
}
.art__switch-button{
    padding: 10px 30px 10px 30px !important;
}
.switch__button{
    background-color: #54d154;
    border-radius: 30px;
    color: #ffffff;
    padding: 7px 15px 8px 15px;
    font-size: 17px;
}
.switch__button:focus,
.switch__button:hover,
.switch__what-we-do-button:hover,
.switch__what-we-do-button:focus,
.switch__view-more-button:hover,
.switch__view-more-button:focus,
.switch__client-button:hover,
.switch__client-button:focus,
.switch__scroll-down:hover,
.switch__scroll-down:focus{
   outline: none;
    background-color: #FFFFFF;
    border: 1px solid #54d154;
    color: #54d154;
    transition: 1s;
}
.switch__scroll-down {
    bottom: 13px;
    position: absolute;
    border-radius: 20px;
    padding: 1px 13px 1px 13px;
    opacity: 0.7;
    margin-left: -50px;
}

/*block WHAT WE DO*/

.switch__what-we-do {
    color: #828181;
}
.switch__what-we-do-block {
    padding: 18px 40px 0 40px;
}
.switch__name {
    font-size: 20px;
    color: #828181;
    letter-spacing: 4px;
}
.switch__name:after, .switch__name-green:after {
    content: ' ';
    height: 2px;
    width: 50px;
    display: block;
    margin: 10px auto 0 auto;
    background-color: #999;
}
.switch__name-green:after{
    background-color: #207b20;;
}
.switch__content{
    color: #b7b3b3;
    margin-bottom: 70px;
}
h3 {
    font-weight: bold;
}
.what-we-do_block-icon{
    width: 142px;
    height: 142px;
    margin: auto;
    border: none;
    border-radius: 25px;
    background-color: #e1f3e1;
}
.what-we-do_example:hover{
    border: 1px solid #54d154 !important;
}
.what-we-do__icon{
    color: #54d154;
    margin-top: 35px;
    vertical-align: middle;
}

.switch__what-we-do-button {
    background-color: #54d154;
    color: #ffffff;
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
    margin: 30px 0 73px 0;
}.switch__what-we-do-button:hover {
    outline: none;
 }

 /*BLOCK OUR LATEST WORK*/

.switch__latest-work {
    background-color: #54d154;
    padding: 19px 0 60px 0;
}
.switch__content-green{
    color: #2b9b2b;
    margin: -3px 0 57px 0;
}
.switch__name-green{
    color: #207b20;
    font-size: 20px;
    letter-spacing: 4px;
}
.tab-button-group{
    margin-bottom: 60px;
}
.switch__button-group,.switch__button-group:active {
    background-color: #ffffff;
    border-radius: 0 !important;
    border: 1px solid #2b9b2b !important;
    color: #2b9b2b !important;
    margin-right: 0 !important;
    padding: 6px 15px 6px 15px !important;
}
.group-left{
    border-radius: 15px 0 0 15px !important;
}
.group-left:focus{
    border-radius: 15px 0 0 15px !important;
    outline: none;
}
.group-right{
    border-radius:0 15px 15px 0 !important;
}
.group-right:focus{
    border-radius: 0 15px 15px 0 !important;
    outline: none;
}
.switch__button-group:focus, .switch__button-group:hover {
    background-color: #2b9b2b !important;
    color: #ffffff !important;
    outline: none;
    font-weight: normal !important;
}
.nav-tabs{
    border: none;
}
.switch__latest-work-img{
    border-radius: 4px;
    margin: 0 auto 30px;
}

.switch__view-more-button{
    background-color: #2b9b2b;
    color: #ffffff;
    padding: 10px 30px 10px 30px;
    border-radius: 30px;
    margin-top: 19px;
}
/*TESTIMONIALS*/
.switch__testimonials {
    padding: 16px 0 50px 0;
}

@media screen and (min-width: 767px) {
    .switch_slider{
        margin: 0 130px 0 130px;
    }
}
.media{
    margin: 0;
    display: inline-block;
}
.media__block{
    width: 50%;
    margin: auto;
}
@media screen and (max-width: 900px) {
    .media__block{
        width: auto;
    }
}
.media-content{
    margin: 0;
}
.switch__slider-text {
    width: 55%;
    margin: auto;
 }
.carousel-control {
    color: gray;
    height: 45px;
}

.carousel-control.left, .carousel-control.right{
    background-image: none;
}

.carousel-caption__logo {
    width: 46px;
    height: 46px;
    background-color: white;
    border: 2px solid #e1e1e1;
}


/*BLOCK HAPPY CLIENT*/

.switch__happy-client{
    background-color: #f2f1f1;
    padding: 15px 0 60px 0;
}
.happy-client-icon{
    line-height: 150px;
    margin-top: -46px;
}
@media screen and (min-width: 767px) {
    .switch__client {
        padding: 0 100px;
    }
}

.switch__client-button{
    background-color: #dddcdc;
    padding: 10px 40px 10px 40px;
    border-radius: 30px;
    color: #aca5a5;
    margin-top: 18px;
}


/*BLOCK WITH INFORMATION ABOUT TEAM*/
.switch__team{
    background-color: #54d154;
    padding: 14px 0 47px 0;
}
.switch__work-with-us{
    background-color: #3eba3e;
    padding: 25px 0 25px 0;
}
.switch__team-name{
    color: #ffffff;
    font-weight: bold;
}

.switch__team-name:before{
    content: ' ';
    height: 77px;
    width: 2px;
    display: block;
    margin: 5px auto;
    background-color: #2b9b2b;
}

.team-in-network{
    height: 30px;
    width: 80px;
    background-color: #c5e9c5;
    margin: auto;
    border-radius: 15px;
    margin-bottom: 15px;
}
.team-in-network > li{
    padding: 0;
    line-height: 28px;
}
.network-logo{
    height: 20px;
    width: 20px;
}
.switch__button-shadow{
    box-shadow: 0 0 10px #38a738;
}

/*FOOTER*/
.footer__information{
    background-color: #333333;
    padding: 8px 0 25px 0;
}
.footer__article {
    color: #b7b3b3;
    font-size: 17px;
    font-weight: normal;
    letter-spacing: 3px;
}
.footer__content {
    color: #b7b3b3;
    font-size: 14px;
    margin: 0;
}
.content-contact{
    width: 200px;
    margin: auto auto 17px;
    font-size: 12px;
}
.switch__recent-img{
    width: 53px;
    height: 53px;
    margin: 0 0 7px 25px;
}
.footer_logo{
    padding: 5px 0 13px 0;
    background-color: #222222;
}

.footer__team-in-network{
    background-color: #e6e7e6;
    margin-top: 34px;
}
.footer__article{
     color: #dddddd;
 }
.footer__article:after{
    content: ' ';
    height: 2px;
    width: 30px;
    display: block;
    margin: 3px auto 20px auto;
    background-color: #dddddd;
}
.footer__article-logo{
    color: #111111;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 22px;
}

.footer__form-data-name{
    color: #3EBA3E;
    background-color: #444444;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border:1px solid #333333;
    opacity: 0.7;
}
.footer__form-data{
    color: #3EBA3E;
    background-color: #444444;
    border-radius: 0;
    border:1px solid #333333;
    resize: none;
    opacity: 0.7;
}
.footer__form-data:focus, .footer__form-data-name:focus{
    border-color: #54d154;
    outline: none;
}
@media screen and (max-width: 767px) and (min-width: 468px){
    .footer__media{
        width: 50%;
        margin: auto;
    }
}
.footer_logo-img {
    margin: 0 72px 0 42px;
}
.form-group-input{
    margin-left: 5px !important;
}
.btn-footer {
    width: 100%;
    background-color: #2b9b2b;
    border-radius: 0 0 5px 5px;
}

.footer_like {
    background-color: #111111;
    margin: 0;
    padding: 7px 0 5px;
    color: #dddddd;;
}